<!DOCTYPE html>
<html>
<head>
	<title>Scrum Process Report</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ asset_path }}components/bootstrap3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ asset_path }}components/bootstrap3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" media="print" href="{{ asset_path }}/standard.css">
	<link rel="stylesheet" type="text/css" media="print" href="{{ asset_path }}/print.css">

</head>
<body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<div class="container" style="padding-top:20px">

	{% block content %}{% endblock %}

</div>

	<script type="text/javascript" src="{{ asset_path }}components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset_path }}components/bootstrap3/js/bootstrap.min.js"></script>



</body>
</html>
