<!DOCTYPE html>
<html>
<head>
	<title>Scrum Process Report</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ asset_path }}components/bootstrap3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ asset_path }}components/bootstrap3/css/bootstrap-theme.min.css">

</head>
<body>



<div class="container">

	{% block content %}{% endblock %}

</div>


	<script type="text/javascript" src="{{ asset_path }}components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset_path }}components/bootstrap3/js/bootstrap.min.js"></script>


</body>
</html>
